*{
    padding:0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color:#1e1c2a;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font:0.9rem;
}

*::selection {
    background: var(--main-color);
    color: #fff;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 30px 170px;
}
.logo{
 color: var(--main-color)  ;
 font-weight: 400;
 font-size: 1.4rem;
}

.navbar{
    display:flex;
}

.navbar a{
    color:var(---text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

section{
    padding: 70px 17%;
}

.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center; */
}

.eyes-img {
    max-width: 100px;
    width: 600px;
    height: auto;
}
.home-text h1{
  font-size: var(--big-font);
  color: var(--main-color);  
}

.home-text h2{
  font-size: var(--h2-font);
  margin: 1rem 0 2rem;  
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
}

.btn:hover{
  transform: scale(1.2) translate(10px);
  transition: .4s;  
}

/* eye motion page */
*{
    margin:0;
    padding: 10;
  }
.face{ 
  width: 500px;
  height: 500px;
  background: #ff702a;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
}
.eye{
  width: 200px;
  height: 200px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 100px;
  overflow: hidden;
}

.eye:nth-child(1){
  left: 40px;
}
.eye:nth-child(2){
  right: 40px;
}

.pupil{
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.lips{
  width: 400px;
  height: 400px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -200px;
  border: 5px solid #000;
  border-color: transparent transparent #000 transparent;
} 

/* About-page */

.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 1.5rem;
    align-items:center;

}
.about-img img{
    max-width: 100%;
    width: 980px;
    height: auto;
    margin-right: 20rem;
}
.about-text{
    margin-left: 5rem;
}

.about-text span{
    color: var(--main-color);
    font-weight: 600;
}

.about-text h2{
    font-size: var(--h2-font);
}

.about-text p{
    margin: 0.8rem 0 1.5rem;
    line-height: 1.7;
}

/* about2page */
.about2-text h2{
 font-size: var(--h2-font);
}
.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;  
}
.about2-img img{
    max-width: 90%;
    width: 380px;
    height: auto;
    margin-left: 5rem;
}

/* testing  */

.test{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 1.5rem;
    align-items:center;  
}

.test-text span{
      color: var(--main-color);
    font-weight: 600;  
}
.test-text h2{
 font-size: var(--h2-font);  
}
.test-text p{
margin: 0.8rem 0 1.8rem;
line-height: 1.1; 
}

.step{
    margin-left: 10rem;  
}
.steps .icon-boxes h4 {
    font-size: 18px;
    color: #ff702a;
    margin-bottom: 15px;
  }
  
  .steps .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #ff702a;
    margin-bottom: 15px;
  }
  
  .steps .icon-box {
    margin-top: 40px;
  }
  
  .steps .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #ff702a;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .steps .icon-box .icon i {
    color:#ff702a;
    font-size: 32px;
  }
  
  .steps .icon-box:hover .icon {
    background: #ff702a;
    border-color: #fff;
  }
  
  .steps .icon-box:hover .icon i {
    color: #fff;
  }
  
  .steps .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .steps .icon-box .title a {
    color: #ff702a;
    transition: 0.3s;
  }
  
  .steps .icon-box .title a:hover {
    color: #ff702a;
  }
  
  .steps .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
  }


  /* testing page */

.heading{
    text-align: center;
  }
  .heading span{
    color: var(--main-color);
    font-weight: 600;
  }
  .options-container{
    /* box-shadow: 0 0 29px 0 #EB6440;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,auto));
    grid-gap:1.5rem;
    align-items: center;
  }
  .box{
    box-shadow: 0 0 29px 0 #EB6440;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    position: relative;
    margin-top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #feeee7;
    padding: 20px;
    border-radius: 0.5rem;
  }
  .box h2{
    font-size: 1.3rem;
    color:var(--bg-color) ;
  }
  .box h2 a{
    font-size: 1.4rem;
    color: var(--bg-color)
  }
  .box p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.1; 
  }
  .description{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.1; 
    color: var(--bg-color);
  }
  .box:hover {
    background: #EB6440;
    top: 0;
    border-radius: 0px;
  }
.cta{
  background: #feeee7;
  padding: 70px 0;
  text-align: center;
  width: 66%;
  margin: 100px auto;
  border-radius: 10px;
}
.cta h2{
  font-size: 2rem;
  color: var(--bg-color);
  margin-bottom: 30px;
} 

.main{
  display: flex;
  flex-wrap: wrap;
}
.footer{
  padding: 10px 0;
}
.col{
  width:25%;
}
.col h4{
  font-size: 1.2rem;
  color: var(---text-color);
  margin-bottom: 25px;
  position: relative;
}

.col h4::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -8px;
  background: var(--main-color);
}

.col ul li:not(last-child){
  margin-bottom: 15px;
}
.col ul li a{
  color: #9897a9;
  font-size: 1.1rem;
  display: block;
  text-transform: capitalize;
  transition: 4s;
}
.col ul li a:hover{
  color: var(--text-color);
  transform: translateX(-12px);
}

.col .social{
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col .social a{
  height: 40px ;
  width: 40px;
  background: var(--main-color);
  color: var(---text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition:  .4s;
}
.col .social a:hover{
  transform: scale(1.2);
  color:var(--text-color);
  background: var(#feeee7);
  background: var(---text-color);
}

/* for responsive */
@media(max-width: 1560px){
  header{
    padding: 15px 40px;
  }
  :root{
    --big-font:3.5rem;
    --h2-font:2rem;
  }
}
@media(max-width: 1140px) {
  section{
    padding: 50px 8%;
  }
  #menu-icon{
    display:initial;
    color: var(---text-color);
  }
  header .navbar{
    position:absolute;
    top: -400px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #2b2640;
    transition: .3s;
  }
  header .navbar.active{
    top: 70px;
  }
  .navbar a{
    padding: 1.5rem;
    display: block;
  }
  .col{
    width: 50%;
    margin-bottom: 10px;
  }
}

@media(max-width: 720px){
  header{
    padding: 10px 16px;
  }
  .home{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-img{
    order: 2;
  }
  section{
    padding: 100px 7%;
  }
}

@media(max-width: 575px){
  .col{
    width: 100%;
  }
}

