<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astigmatism_Test</title>
</head>
<body>
  <img src="/img/Astigmatismtest.jpg" alt="test">
  <br>
  <br>
  <p>Focus the centre of the semicircles and answer the question.</p><br>
  <h2>
    Do all the Lines appear in the same shades of black?
  </h2>
  <button>Yes</button><br>
  <button>No</button>
</body>
</html>