<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css"  href="/style.css" />
    <title>Astigmatism-Test</title>
</head>
<body>
    <h1>Astigmatism-Test</h1><hr>
    <h2>Astigmatism</h2>
    <p>Astigmatism (uh-STIG-muh-tiz-um) is a common and generally treatable imperfection in the curvature of the eye that causes blurred distance and near vision.

        Astigmatism occurs when either the front surface of the eye (cornea) or the lens inside the eye has mismatched curves. Instead of having one curve like a round ball, the surface is egg-shaped. This causes blurred vision at all distances.
        
        Astigmatism is often present at birth and may occur in combination with nearsightedness or farsightedness. Often it's not pronounced enough to require corrective action. When it is, treatment options are corrective lenses or surgery.</p><br><br>
     <h2>Symptoms</h2>
     <p>Signs and symptoms of astigmatism may include:<br>

        Blurred or distorted vision<br>
        Eyestrain or discomfort<br>
        Headaches<br>
        Difficulty with night vision<br>
        Squinting<br></p>
</body>
</html>