<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astigmatism_Test</title>
</head>
<body>
   <h3> Maximize the brightness of your screen in order to get accurate results.</h3>
   <p>Wear your glasses and contacts<br>(if you have)</p>
    <br>
    <br>
    <a href="/views/astigtestleft.html" class="btn">Next</a>
    <a href="/index.html" class="btn">Skip</a>
    
</body>
</html>