<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Visual Acuity Test/css/style.css" rel="stylesheet">
    <title>Hypermetropia-Test</title>
</head>
<body>
    <h1>Hypermetropia-Test</h1><hr>
    <h2>Hypermetropia</h2>
    <p>Hypermetropia is also referred to as hyperopia or long-sightedness, or far-sightedness.<br>
     It is the condition of the eyes where the image of a nearby object is formed behind the retina.<br>
     Here, the light is focused behind the retina instead of focusing on the retina.<br>
     The person suffering from hypermetropia will have difficulty focusing on nearby objects but can clearly see distant objects.<br>
     Accommodation is the process used to treat hypermetropia without any defects in vision in the early stages.</p><br><br>
     <h2>Symptoms</h2>
     <p>This problem shows no major symptoms initially but later leads to a mild aversion to light, blurry vision, watering, tiredness in eyes, inward turning of the eyes and causes headaches too.</p>
</body>
</html>