<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css"  href="/style.css" />
    <title>Myopia-Test</title>
</head>
<body>
    <h1>Myopia-Test</h1><hr>
    <h2>Myopia</h2>
    <p>Myopia is an eye defect or common abnormality of the eye in which the near vision is clear while distant vision is blurred.<br>
       This condition is known as myopia also it is called near or short-sightedness.
       Retina is that part of the eye which provides a surface for image formation.<br>In myopia what happens is light rays entering the eyes converge too soon and are brought to focus before reaching the retina hence the image cannot be formed on the retina.</p><br><br>
     <h2>Symptoms</h2>
     <p>If a person is myopic he or she will not be able to see the road signs and distant objects clearly but the nearer object will be visible to him/her clearly.</p>
</body>
</html>