
<!DOCTYPE html>
<html>
<head>
<title>redo </title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="textprompt"> 
     <p><br><br>Based on your results you need to redo the test<br></p>
     <p>Do you wish to proceed?</p>
     <div class="audiopart">
    <audio controls>
  <source src="audiofiles\q3.mp3" type="audio/mpeg">
</audio>

</div>
     <a class="next" href="/views/colourblindness.html"> redo</a>

     <a class="next" href="/views/questions.html"> continue with other tests</a>
     
     <a class="next" href="/views/tests.html"> go to main menu</a>
     
</div>

</body>
</html>

