<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css"  href="/style.css" />
    <title>Selfcare-Advice</title>
</head>
<body>
    <h1>Selfcare-Advice</h1><hr>
    <h2>6 Simple Ways to Take Better Care of Your Eyes</h2>
    <p>1. Take your contacts out before you shower, swim, or otherwise get water on your face.<br>
        2. Wear safety glasses when you do any home improvement projects—even with simple stuff.<br>
        3. See an eye doctor at least every two years, or more frequently if necessary.<br>
        4. Pamper your eyelids with a warm compress every day.<br>
        5. Eat a balanced diet.<br>
        6. Wear your sunglasses—yes, even when it’s cloudy or freezing.</p>
        7. this is not a right page just for git and it is going and this.....and 
</body>
</html>